<div class="jumbotron text-center">
    <h1 class="display-3"></h1>
    <p class="lead">Escribe ideas para tu próximo video</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Agrega una idea</a>
</div>